<div class="span8" style="bottom: 0; ">
		Follow Us: </br>
		<% homepage = "https://gothic1234.herokuapp.com/"%>
		<%= link_to image_tag("f_logo.png", :size => "40x40", alt: "VENA"), homepage%>
		<%= link_to image_tag("t_logo.png", :size => "40x40", alt: "VENA"), homepage%>
		<%= link_to image_tag("y_logo.png", :size => "40x40", alt: "VENA"), homepage%>
		<%= link_to image_tag("rss_logo.jpg", :size => "40x40", alt: "VENA"),
		'https://gothic1234.herokuapp.com/'%>
		<%= link_to image_tag("f_like.jpg", :size => "60x40", alt: "VENA"), homepage%>
		12K people like this.
</div>